<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script class="" src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>My To-DO Application</title>
    <script>
        function updateTodo(id){
          let status = document.getElementById(`overdue-checkbox-${id}`).checked;
          
           fetch(`/todos/${id}/markAsCompleted`,{
              method:"put",
              headers: {"Content-Type": "application/json"}
           })
           .then((res) =>{
            if(res.ok){
              window.location.reload();
            }
            })
           .catch((err) => console.log(err))
        } 
        function clickHandler(id){
          // let status = document.getElementById(`overdue-checkbox-${id}`).checked;
          
           fetch(`/todos/${id}`,{
              method:"delete",
              headers: {"Content-Type": "application/json"}
           })
           .then((res) =>{
            if(res.ok){
              window.location.reload();
            }
            })
           .catch((err) => console.log(err))
        } 
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <form class="mt-4" method="post" action="/todos">
          <div class="flex gap-2">
            <div class="flex-auto">
              <input
              name="title"
                class="border border-gray-300 w-full p-2 text-gray-900 rounded text-lg"
                type="text"
                placeholder="What's next?"
                required
              />
            </div>
            <div class="flex-auto">
              <input
              name="dueDate"
                type="date"
                class="border leading-6 border-gray-300 w-full p-2 text-gray-900 rounded text-2xl"
                required
              />
            </div>
            <div class="flex-none">
              <button
                class="bg-green-600 py-2 px-5 text-lg rounded text-white"
                type="submit"
              >
                Add
              </button>
            </div>
          </div>
        </form>

        <%- include('todos.ejs') %>
        
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
